<div class="row">
  <div class="large-12 columns">
    <h2><%= !obj.blank? && obj.persisted? ? raw("<i class='fa fa-pencil-square-o'></i>") : "" %><%= name %></h2>
  </div>
</div>
<% if !obj.blank? && obj.errors.any? then %>
<div class="row">
  <div class="small-12 columns" id="error_explanation">
    <%= pluralize(obj.errors.count, "error") %> prohibited this object from being saved:
    <ul>
      <% obj.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
<% if flash[:notice] then %>
<div class="row">
  <div class="large-12 columns notice">
    <div class="notice"><%= flash[:notice] %></div>
  </div>
</div>
<% end %>
