<div class="row">
  <div class="large-12 columns">
    <h2>Colors</h2>
  </div>
</div>

<% if flash[:notice] %>
<div class="row">
  <div class="large-12 columns notice">
    <div class="notice"><%= flash[:notice] %></div>
  </div>
</div>
<% end %>

<%= form_for @color, url: {action: "create"} do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="large-5 medium-5 small-11 columns">
          <%= f.text_field :name, 'placeholder' => 'New Color' %>
        </div>
        <div class="small-1 columns">
          <%= f.submit '+', 'class'=>'button postfix' %>
        </div>
        <div class="large-6 medium-6 small-0 columns"></div>
      </div>
    </div>
  </div>
  <% allColors.each do |c| %>
  <div class="row">
    <div class="large-5 medium-5 small-10 columns"><%= c.name %></div>
    <div class="large-1 medium-1 small-2 columns" style="text-align:center">
      <%= link_to raw('<i class="fa fa-times-circle"></i>'), c, method: :delete%></a>
    </div>
    <div class="large-6 medium-6 small-0 columns"></div>
  </div>
  <% end %>
<% end %>
