<div class="row">
  <div class="large-12 columns">
    <h2>Sales Channels</h2>
  </div>
</div>

<% if flash[:notice] %>
<div class="row">
  <div class="large-12 columns notice">
    <div class="notice"><%= flash[:notice] %></div>
  </div>
</div>
<% end %>

<%= form_for @channel, url: {action: "create"} do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-2 columns">
          <%= f.text_field :name, 'placeholder' => 'New Channel' %>
        </div>
        <div class="small-3 columns">
          <%= f.text_field :account_id, 'placeholder' => 'Account ID' %>
        </div>
        <div class="small-1 columns">
          <%= f.submit '+', 'class'=>'button postfix' %>
        </div>
        <div class="small-6 columns"></div>
      </div>
    </div>
  </div>
  <% allChannels.each do |sc| %>
  <div class="row">
    <div class="small-2 columns"><%= sc.name %></div>
    <div class="small-3 columns"><%= sc.account_id %></div>
    <div class="small-1 columns" style="text-align:center">
      <%= link_to raw('<i class="fa fa-times-circle"></i>'), sc, method: :delete%></a>
    </div>
    <div class="small-6 columns"></div>
  </div>
  <% end %>
<% end %>
