<!DOCTYPE html>
<html>
<head>
  <title>P12</title>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', '//fonts.googleapis.com/css?family=Nixie+One' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

<div class="row" >
    <div class="large-3 medium-3  columns sidebar show-for-medium-up" style="min-height:800px;background-color:#333333;color:#ffffff">
      <h2>P8GEAR</h2>
      <i class="fa fa-cog"></i> <%= link_to "Base Goods", base_goods_path %><br>
      <i class="fa fa-cog"></i> <%= link_to "Colors", colors_path %><br>
      <i class="fa fa-cog"></i> <%= link_to "Design Constraints", design_constraints_path %><br>
      <i class="fa fa-cog"></i> <%= link_to "Design Owners", design_owners_path %><br>
      <i class="fa fa-cog"></i> <%= link_to "Goods Categories", goods_categories_path %><br>
      <i class="fa fa-cog"></i> <%= link_to "Print Modes", print_modes_path %> <br>
      <i class="fa fa-cog"></i> <%= link_to "Printable Locations", printable_locations_path %> <br>
      <i class="fa fa-cog"></i> <%= link_to "Printers", printers_path %> <br>
      <i class="fa fa-cog"></i> <%= link_to "Sales Channels", sales_channels_path %> <br>
      <i class="fa fa-cog"></i> <%= link_to "Sizes", sizes_path %> <br>
    </div>
    <div class="large-9 medium-9 small-12 columns editPane" style="background-color:#FFFFFF;color:#000000">
    <%= yield %>
    </div>
  </div>
</body>
</html>
