<!DOCTYPE html>
<html>
<head>
  <title>P12</title>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', '//fonts.googleapis.com/css?family=Nixie+One' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

  <div class="row" >
    <div class="large-3 medium-3  columns sidebar show-for-medium-up" style="min-height:800px;background-color:#333333;color:#ffffff">
      <h2>P8GEAR</h2>
      <i class="fa fa-cog"></i> <span class='sidebarTitle'>Designs</span>
      <ul style="margin-bottom:0px">
        <% allDesignOwners.each do |d| %>
        <li><%= link_to d.name, design_owner_designs_path(d) %></li>
        <% end %>
      </ul>
      <i class="fa fa-cog"></i> <%= link_to "Products", products_path %> <br>
    </div>
    <div class="large-9 medium-9 small-12 columns editPane" style="background-color:#FFFFFF;color:#000000">
      <%= yield %>
    </div>
  </div>
</body>
</html>
